﻿@model TimeLogger.Models.TimeLogModel

@{
    ViewBag.Title = "Time Logging";
}
<style>
    p{
        font-size:20px;
    }

    .textBox{
        font-size:20px;
    }

    .btStartStop{
        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
        font-size:24px;
    }

    #btStart{
        background-color:forestgreen;
    }
    #btStop{
        background-color:red;
    }
</style>

<h2>Log your working Time</h2>

@using (Html.BeginForm(FormMethod.Post))
{
    <h2>Current Date: </h2>
    <p>
        @Html.TextBoxFor(m => m.Date, new Dictionary<string, object>() { { "readonly", "true" } })
    </p>
    
    <h2>Working Item: </h2>
    <p>
        @Html.TextBoxFor(m => m.WorkItem, new Dictionary<string, object>() { { "placeholder", "Projectname eingeben" } })
    </p>
    
    <h2>Current Working Time (Day): </h2>
    <p>
        @Html.TextBoxFor(m => m.WorkingTime, new Dictionary<string, object>() { { "readonly", "true" } })
    </p>
    
    <h2>Working Time since Start: </h2>
    <p id="pStopTime">
        @Html.TextBoxFor(m => m.StopTime, new Dictionary<string, object>() { { "readonly", "true" } })
    </p>
    
    <br />
    <input id="btStop" class="btStartStop" type="submit" value="STOP" style="display:none" />
}
<button id="btStart" class="btStartStop" type="submit">START</button>

<!-- Javascript/jQuery-Section -->
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    $(document).ready(function () {

        var currentWorkTime = 0.0;

        // Wandelt einen Wert (Millisekunden in einen Zeitwert um)
        function msToTime(s) {

            function addZ(n) {
                return (n < 10 ? '0' : '') + n;
            }

            var ms = s % 10;
            s = (s - ms) / 10;
            var secs = s % 60;
            s = (s - secs) / 60;
            var mins = s % 60;
            var hrs = (s - mins) / 60;

            return addZ(hrs) + ':' + addZ(mins) + ':' + addZ(secs) + '.' + ms;
        }

        $("#btStart").click(function () {

            $(this).css({ "display": "none" });
            $("#btStop").css({ "display": "block" });

            /* Stopuhr wird aktiviert */
            setInterval(function () {
                $("#pStopTime").children().val(msToTime(currentWorkTime));
                currentWorkTime += 1;
            }, 100);

        });
    });
</script>